mixin faq(title)
  div
    details
      summary(title=title)= title
      p.faq-content
        block

mixin tile(title, subhead, clas)
  .tile(class=clas)
    .content
      block
    .footer
      h4= title
      .subheading= subhead