@import './mixins';
$green: #00B337;
#main-video-section {
  padding: 2rem 2rem 0 2rem;
  overflow: hidden;
  position: relative;
  @include my_bp(sm) {
    padding: 4rem 4rem 0 4rem;
  }
  #video-slider {
    box-shadow: 0px -2px 5px rgba(200, 200, 200, .5);
    height: 100%;
    min-height: 85vh;
    pointer-events: none;
    position: relative;
    #overlay {
      width: 100%;
      height: 100%;
      background: #2b2b2b;
      // backdrop-filter: blur(5px);
      position: absolute;
      opacity: .60;
    }
  }
  #circle {
    width: 80vw;
    height: 80vw;
    background: white;
    position: absolute;
    border-radius: 50%;
    top: 85%;
    left: 50%;
    margin-left: -40vw;
    @include my_bp(sm) {
      top: 80%;
      width: 60vw;
      height: 60vw;
      margin-left: -30vw;
    }
  }
  #text {
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    // color: $green;
    b {
      display: block;
      text-transform: uppercase;
    }
    @include my_bp(sm) {
      font-size: 2rem;
    }
  }
  #content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .logo {
      width: 180px;
      margin-bottom: 1rem;
    }
    .powered {
      width: 250px;
      margin-bottom: 5rem;
    }
    p {
      // padding: 0 5rem;
      text-align: center;
      color: white;
      font-size: 1rem;
      max-width: 80vw;
    }
    .button {
      background: $green;
      padding: .5rem 2rem;
      color: white;
      font-size: 1rem;
      text-decoration: none;
      margin-bottom: 1rem;
      transition: all 500ms ease-in-out;
      &:hover {
        transform: translateX(1rem);
      }
    }
  }
}

#working {
  font-size: 1rem;
  // color: $green;
  @include my_bp(sm) {
    font-size: 1.2rem;
  }
}

#sdg-section {
  padding: 2rem 4rem;
  .sdgs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .sdg {
      width: 30vw;
      height: 30vw;
      background: $green;
      margin-bottom: .5rem;
      transition: all 500ms ease;
      @include my_bp(sm) {
        width: 10vw;
        height: 10vw;
        margin-bottom: 0;
      }
      &:hover {
        box-shadow: 0 20px 30px -20px rgba(0, 0, 0, 0.7);
        transform: translateY(-5px);
      }
    }
  }
}

#problem-statement {
  h3 {
    font-weight: 700;
    text-align: center;
  }
  .subheading {
    color: #666;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .tile {
    background: #00B337;
    color: white;
    // padding: 1rem;
    font-size: .9rem;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-sizing: border-box;
    position: relative;
    @include my_bp(sm) {
      width: 20vw;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/bg-1.png');
      background-repeat: no-repeat;
      background-position: -50% -50%;
      opacity: .2;
    }
    &.type-2 {
      background: #D3A029;
      &:before {
        background-image: url('../images/bg-5.png');
        background-position: -50% -300%;
      }
    }
    &.type-3 {
      background: #EB1C2D;
      &:before {
        opacity: .3;
        background-image: url('../images/bg-8.png');
        background-position: -500% 0;
      }
    }
    &.type-4 {
      background: #02558B;
      &::before {
        background-image: url('../images/bg-7.png');
        background-position: -50% 100%;
      }
    }
    &.type-5 {
      background: #CF8D2A;
      &:before {
        background-image: url('../images/bg-4.png');
        background-position: -75% 300%;
      }
    }
    &.type-6 {
      background: #007DBC;
      &:before {
        background-image: url('../images/bg-3.png');
        background-position: -75% 500%;
      }
    }
    &.type-7 {
      background: #3f7e44;
      &:before {
        background-image: url('../images/bg-2.png');
        background-position: -75% 100%;
      }
    }
    h4 {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 0;
    }
    .subheading {
      color: white;
      text-align: left;
      margin-bottom: 0;
    }
    .content {
      padding: 2rem 1rem 1rem 1rem;
      position: relative;
    }
    .footer {
      padding: 1rem 1rem 1rem 2rem;
      background: #ffffff22;
    }
  }
  .grid {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
  }
}

#header-section {
  height: 100vh;
  background-image: url('../images/bg-undp.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  text-align: center;
  .overlay {
    width: 100%;
    height: 100%;
    background: #007904;
    backdrop-filter: blur(5px);
    position: absolute;
    opacity: .6;
  }
  .info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 3rem;
      color: white;
    }
    h2 {
      font-size: 3rem;
      font-weight: 600;
      color: white;
    }
    p {
      max-width: 80vw;
    }
  }
}

.btn {
  border-radius: 0;
  padding: .5rem 1rem;
}

#timeline-section {
  overflow-x: scroll;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  .timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
    li {
      transition: all 200ms ease-in;
      &.complete {
        .status {
          border-top: 2px solid #00afef;
          &::before {
            background-color: #00afef;
            border: none;
            transition: all 200ms ease-in;
          }
          h4 {
            color: #00afef;
          }
        }
      }
      &.running {
        .timestamp {
          position: relative;
          &::before {
            width: 50%;
            height: 2px;
            content: '';
            background: #D6DCE0;
            position: absolute;
            right: 0;
            bottom: -21px;
          }
          &::after {
            width: 50%;
            height: 2px;
            content: '';
            background: #00afef;
            position: absolute;
            left: 0;
            bottom: -21px;
          }
        }
        .status {
          border-top: none;
          &::before {
            transition: all 200ms ease-in;
            animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
            background: #00afef;
            @keyframes ping {
              0% {
                transform: scale(1);
                opacity: 1;
              }
              75%,
              100% {
                transform: scale(2);
                opacity: 0;
              }
            }
          }
          &::after {
            content: '';
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 25px;
            border: 1px solid #ddd;
            position: absolute;
            top: -15px;
            left: 42%;
            transition: all 200ms ease-in;
          }
        }
      }
      .timestamp {
        margin-bottom: 20px;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 100;
      }
      .status {
        padding: 0px 40px;
        display: flex;
        justify-content: center;
        border-top: 2px solid #D6DCE0;
        position: relative;
        transition: all 200ms ease-in;
        &::before {
          content: '';
          width: 25px;
          height: 25px;
          background-color: white;
          border-radius: 25px;
          border: 1px solid #ddd;
          position: absolute;
          top: -15px;
          left: 42%;
          transition: all 200ms ease-in;
        }
        h4 {
          font-weight: 600;
          font-size: 1rem;
          margin-top: 1.5rem;
        }
      }
    }
  }
  @media (max-width: 700px) {
    .timeline {
      flex-direction: column;
      align-items: flex-start;
      li {
        &.running {
          .timestamp {
            border-left: 2px solid #00afef;
            &::after {
              display: none;
            }
            &::before {
              display: none;
            }
          }
          .status {
            &::after {
              left: -13px;
            }
          }
        }
        &.complete {
          .timestamp {
            border-left: 2px solid #00afef;
          }
          .status {
            border: none;
            border-left: 2px solid #00afef;
          }
        }
        .status {
          border: none;
          border-left: 2px solid #D6DCE0;
          justify-content: flex-start;
          &::before {
            left: -13px;
          }
          h4 {
            margin-bottom: 1.5rem;
            margin-top: .5rem;
          }
        }
        .timestamp {
          flex-direction: row;
          margin-bottom: 5px;
          padding-top: 20px;
          border-left: 2px solid #D6DCE0;
          .author {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

#partner-section {
  img {
    width: 40%;
    @include my_bp(sm) {
      width: 20%;
    }
  }
}

#benefit-section {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include my_bp(sm) {
      flex-direction: row;
    }
    .grid-item {
      width: 90%;
      padding: 3rem .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 2px solid rgba(200, 200, 200, .5);
      margin-bottom: 2rem;
      @include my_bp(sm) {
        width: 30%;
        border: none;
        margin: 0;
        &:nth-of-type(1) {
          border-right: 2px solid rgba(200, 200, 200, .5);
          border-bottom: 2px solid rgba(200, 200, 200, .5);
        }
        &:nth-of-type(2) {
          border-right: 2px solid rgba(200, 200, 200, .5);
          border-bottom: 2px solid rgba(200, 200, 200, .5);
        }
        &:nth-of-type(3) {
          // border-right: 2px solid rgba(200, 200, 200, .5);
          border-bottom: 2px solid rgba(200, 200, 200, .5);
        }
        &:nth-of-type(4) {
          border-right: 2px solid rgba(200, 200, 200, .5);
          // border-bottom: 2px solid rgba(200, 200, 200, .5);
        }
        &:nth-of-type(5) {
          border-right: 2px solid rgba(200, 200, 200, .5);
          // border-bottom: 2px solid rgba(200, 200, 200, .5);
        }
        // &:nth-of-type(6) {
        //   // border-right: 2px solid rgba(200, 200, 200, .5);
        //   border-bottom: 2px solid rgba(200, 200, 200, .5);
        // }
        // &:nth-of-type(7) {
        //   border-right: 2px solid rgba(200, 200, 200, .5);
        //   // border-bottom: 2px solid rgba(200, 200, 200, .5);
        // }
        // &:nth-of-type(8) {
        //   border-right: 2px solid rgba(200, 200, 200, .5);
        //   // border-bottom: 2px solid rgba(200, 200, 200, .5);
        // }
      }
      p {
        margin: 0;
        font-weight: 600;
      }
      img {
        width: 120px;
        margin-bottom: 1rem;
      }
    }
  }
}

$heroHeight: 700px;
#anim-section {
  height: $heroHeight;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  #hero {
    height: $heroHeight;
    width: 100%;
    overflow: hidden;
    position: absolute;
    mask-image: url('../images/animation/mask.png');
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-image: url('../images/animation/mask.png');
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    .layer {
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
      width: 100%;
      height: $heroHeight;
      position: absolute;
      z-index: -1;
    }
    @for $i from 1 through 24 {
      .layer-#{$i} {
        background-image: url('../images/animation/'+#{$i}+'.png');
        // transform: translateZ(#{$i*10}px);
      }
    }
  }
  #hero-bg {
    background-image: url('../images/animation/bg.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: $heroHeight;
    width: 100%;
    position: absolute;
  }
  .animation {
    position: relative;
    height: $heroHeight;
    width: 100%;
  }
  h1,
  h2 {
    font-family: 'Montserrat', sans-serif;
  }
}

#about-section {
  background-image: url(../images/bg-forest.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  .overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    backdrop-filter: blur(5px);
    position: absolute;
    opacity: .5;
    top: 0;
  }
}

#apply-section {
  background-image: url(../images/bg-footstep.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  .overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    backdrop-filter: blur(5px);
    position: absolute;
    opacity: .25;
    top: 0;
  }
}

.ihrml {
  background-image: url(../images/bg-mountain.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  .overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    backdrop-filter: blur(5px);
    position: absolute;
    opacity: .5;
    top: 0;
  }
}