@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Architects+Daughter&family=Sansita+Swashed:wght@500&family=Montserrat:wght@200;400;600;800&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "./mixins";
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #3b4044;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: #00B337;
}

h3,
h5 {
  font-family: 'Roboto', sans-serif;
}

.text-normal {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: justify;
}

.heading-title {
  position: relative;
  &::after {
    content: '';
    display: block;
    height: 5px;
    width: 100px;
    background: #d3a02a;
    position: absolute;
    bottom: 0;
    left: 100px;
    transform: translateY(10px);
  }
  &::before {
    content: '';
    display: block;
    height: 5px;
    width: 50px;
    background: #43aeda;
    position: absolute;
    bottom: 0;
    left: 50px;
    transform: translateY(10px);
  }
}

.btn {
  font-family: 'Montserrat', sans-serif;
}

.text-justify {
  text-align: justify;
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

.alternative {
  background-color: #fafafe;
}

#ksum-footer {
  background: #222229;
  color: #dbdbdb;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  @include my_bp(sm) {
    flex-direction: row;
  }
  .left {
    text-align: center;
    @include my_bp(sm) {
      width: 35%;
    }
    p {
      margin: 0;
      font-size: 1rem;
    }
    .phone {
      font-size: 2rem;
      font-weight: 600;
      color: white;
      padding: 10px 0;
      svg {
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
        color: #3fafef;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    @include my_bp(sm) {
      margin: 0;
      width: 35%;
    }
  }
}

#ksum-copy {
  background: #1c1c21;
  color: #b1b1b1;
  padding: 20px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.color-ksum {
  color: #00afef;
}

.color-kerala {
  color: #0B9444;
}

.color-mission {
  color: #231F20;
}

#preload {
  background: #1c1c21;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: table;
  .preload {
    display: table-cell;
    vertical-align: middle;
    .spinner {
      width: 250px;
      height: 250px;
      // background-color: #fff;
      background: url('../images/loading.gif');
      margin: 100px auto;
      animation: rotateplane 5s infinite ease-in-out;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}