@import './mixins';
#header-section {
  height: 60vh;
  background-image: url('../images/bg-problem.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  text-align: center;
  .overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    backdrop-filter: blur(5px);
    position: absolute;
    opacity: .3;
    top: 0;
  }
  .info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 3rem;
      color: white;
    }
    h2 {
      font-size: 3rem;
      font-weight: 600;
      color: white;
    }
    p {
      max-width: 80vw;
    }
  }
}

#partner-section {
  img {
    width: 40%;
    @include my_bp(sm) {
      width: 20%;
    }
  }
}

.f-w-800 {
  font-weight: 800;
}

.sgd-2 {
  background: #f68e1f;
}

.sgd-6 {
  background: #00adef;
}

.sgd-7 {
  background: #ffe800;
}

.sgd-13 {
  background: #40ae49;
}

.sgd-15 {
  background: #87c440;
}