extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/faq.scss")

include ./layouts/partials/mixin.pug

block page
  section.section-content
    h2.pt-4.text-center FAQ
    .faq-list
      +faq("What is a Green Innovation Fund ?")  
        | KSUM's Green Impact Accelerator is one of it's kind program to empower Technology Startups to build and scale products / services which can create sustainbale social, economic and environmental Impact. Social Impact startups could meaningfully improve People’s lives, are benign to Environment and positively contributes to the Economy. 
      +faq("What is the Gap Green Impact Accelerator is trying to fix ?")
        | For an innovator , every 'challenge/problem' is a 'potential oppurtunity'. But  there aren't enough support systems enabling him/her to translate that oppurtunity to startup, especially if the problems he/she trying to solve are those faced by Rural Population. This program is a Bridge to fix that Gap.
      +faq("To whom is this program relevant ?")
        | For an innovator , every 'challenge/problem' is a 'potential oppurtunity'. But  there aren't enough support systems enabling him/her to translate that oppurtunity to startup, especially if the problems he/she trying to solve are those faced by Rural Population. This program is a Bridge to fix that Gap.
      +faq("Will I get Funding?")
        | It's an equity free fund linked program . Thus all startups in the cohort gets funding
      +faq("What does Equity Free mean ?")
        | There is no dilution of the equity in exchange of the fund provide through this program
      +faq("Am I eligible to Apply ?")
        p The eligibily criteria of startup is as follows :
        p Startup should have a Technology based product ( Technology could be anything as fancy & highend like AI/ML/Data Analytics to lowend like Traditional mechanical tools/analogue etc )
        p Startup should be beyond idea stage. They should have a prototype with initial customer validation
        p Startup should be able to develop  prototype with usecase specific to the region/project area in 6 months and shall do a trail implementation in the region
        p Startup should be able to identify a large market oppurtunity, where the developed usecase could be scaled up for signficant impact
        p Startup should be equally driven by Business aspirations and societial impact aspiration
        p The startup founding team should demonsate that they have technical skill, business skill , passion of social impact and growth mindset.
      +faq("What is kick-off bootcamp ?")
        | The program starts with a  14 days Boot Camp! This is a kick-start for the program – you get inspired and meet all the stakeholders, will have a presentation on the problems / challenges in the region.  After the Boot Camp , the startups have to submit their USECASE plan and based on that the final participants are chosen. Here is where you can write the answer to that question.
      +faq("Will I be assigned a mentor once shortlisted ?")
        | Once being selected to the program, you are assigned a personal mentor. Your personal mentor have XX hours to spend with you on and between camps. 
      +faq("Is it compulsory that I should spend the entire duration of program in field ?")
        | No. But it's expected that you will spend quality amount of time doing in field to ensure the pilot is inline with the requirment in the region
      +faq("When can I visit the field ?")
        p You are free to visit and stay in the project location, as long as you wish to do so and also all the participants will have interim camps filled with knowledge and inspiration. 
        p We will faciliate the visits and provide you all the support during the interactions with stakeholders
      +faq("What is Demo day ?")
        p The program end with an online pitching session and a Demo Day – where you meet and pitch to customers, partners and investors. 
        p *Due to the covid-crisis – the program will provide both digital and physical possibilities to meet and learn 
      +faq("What are the other benefits of the program?")
        p Bootcamps  with Inspirational keynote talks, panel discussions, and knowlege sessions with relevant experts on topics like legal, finance, marketing, fund raising, IP etc
        p Based on the perfomance on the Demo Day UNDP may also offer to provide followup funds to select start-ups that are able to deliver solutions aligned to their project requirements and overall vision. 
      +faq("Please explain focus area under selected SDGs")
        p
        b SDG 2 : Zero Hunger
        ul
          li Double the agricultural productivity and incomes of small-scale food producers
          li Ensure sustainable food production systems and implement resilient agricultural practices.
        b SDG 6 : Water
        ul
          li Universal and equitable access to safe and affordable drinking water
          li To improve water quality by reducing pollution.
        b SDG 7 : Energy
        ul
          li Universal access to affordable, reliable and modern energy services
        b SDG 12 : Responsible Consumption
        ul 
          li To substantially reduce waste generation through prevention, reduction, recycling and reuse
          li Develop tools to monitor sustainable development impacts for sustainable tourism etc
        b SDG 13 : Climate Action
        ul
          li To Strengthen resilience and adaptive capacity to climate-related hazards and natural disasters
          li To Promote mechanisms for raising capacity for effective climate change-related planning and management
        b SDG 15 : Life on Earth
        ul
          li To reduce the degradation of natural habitats, halt the loss of biodiversity , and  Human-Animal conflicts. 
          li To address both demand and supply of illegal wildlife products
          li To increasing the capacity of local communities to pursue sustainable livelihood opportunities
      +faq("How to Apply for GIF")
        p
        b STEP 1 
        ul 
          li Fill and Submit in the Level 1 application form.
        b STEP 2 
        ul
          li Shortlisted applicants would be notified to appear for one on one pitching and will get the Level 2 form.
        b STEP 3 
        ul
          li Submit the Level 2 form to confirm your attendance for Pitching. The details of one on one pitching will be share on verifying the Level 2 form. 
        b Step 4
        ul
          li Attend the One on One Pitching. 
      +faq("Program Fee ?")
        p No FEES. The program is completely Free.
        p Nevertheless, the Startups have to take care of their own travel , lodging arrangements and any other expenses associated with development of PoC. Part of the Grant could be used to meet these expenses