extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/ihrml.scss")

block page
  section.section-content#header-section
    .overlay
    .info-container
      h1 IHRML Project

  section.section-content.text-normal.pb-0
    .container
      .row
        .col-sm-12
          p The United Nations Development Programme (UNDP) through funding from Global Environment Facility (GEF) supports the implementation of the Indian High Range Mountain Landscape project “ SUSTAINABLE LIVELIHOOD AND BIODIVERSITY CONSERVATION THROUGH MULTIUSE MANAGEMENT OF ANCHUNAD AND ADJOINING LANDSCAPE” with the objective to protect biodiversity of the High Range Mountain Landscape of the southern Western Ghats in peninsular India from existing and emergent threats through building an effective collaborative governance framework for multiple use management and also building adequate capacity with the people, and functionaries working in the landscape for observations, appreciation planning for resilience towards climatic change, and disaster risk reduction and management.
          p Haritha Keralam Mission is the implementing agency of the project in the state. The project area consists of 11 Grama Panchayats, covering an area of 2198.78 sq. km, spread across 4 Block Panchayaths of 3 districts – Idukki, Ernakulam and Thrissur and 6 protected areas

  section.section-content#partner-section
    .container
      .d-flex.justify-content-center.flex-wrap
        img.img-fluid(src="./images/haritha.jpg")
        img.img-fluid(src="./images/gef.png")
        img.img-fluid(src="./images/vanam.png")
        img.img-fluid(src="./images/women.png")
