extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/home.scss")

include layouts/partials/mixin.pug

block page
  #preload
    .preload
      .spinner

  section#main-video-section
    #video-slider
      #ytbg(data-youtube='https://www.youtube.com/watch?v=N3_KEHA2USI')
      #overlay
    #content
      //- img.img-fluid.logo(src="./images/GIF-Logo.png")
      img.img-fluid.logo(src="./images/loading.gif")
      p Fund linked Accelerator Program to support Social Impact startups and innovators developing scalable enterprsies based on UN's Sustainable Development Goal, like Climate Change and Green Economy Domain.
      .d-flex
        a.button(href="https://forms.zohopublic.com/keralastartupmission/form/ProductEnquiry/formperma/dsbqduOvgl2P25CBtqFimTWw4rgCI-dZHG5I72nPu3Y" target="_blank") Apply Now
        //- a.button.btn.btn-outline View Gallery
      img.img-fluid.powered(src="./images/powered.png")

      
    #circle
    #text 
      | ARE YOU A
      b Social Impact Startup

  section.text-center
    #working WORKING ON THE FOLLOWING SDG's?

  section#sdg-section
    .sdgs
      a.sdg(href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-2-zero-hunger.html" target="_blank")
        img.img-fluid(src="./images/E_WEB_02.png")
      a.sdg(href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-6-clean-water-and-sanitation.html" target="_blank")
        img.img-fluid(src="./images/E_WEB_06.png")
      a.sdg(href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-7-affordable-and-clean-energy.html" target="_blank")
        img.img-fluid(src="./images/E_WEB_07.png")
      a.sdg(href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-8-decent-work-and-economic-growth.html" target="_blank")
        img.img-fluid(src="./images/E_WEB_08.png")
      a.sdg(href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-12-responsible-consumption-and-production.html" target="_blank")
        img.img-fluid(src="./images/E_WEB_12.png")
      a.sdg(href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-13-climate-action.html" target="_blank")
        img.img-fluid(src="./images/E_WEB_13.png")
      a.sdg(href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-15-life-on-land.html" target="_blank")
        img.img-fluid(src="./images/E_WEB_15.png")

  section.section-content#problem-statement
    .container
      .row.justify-content-evenly
        .col-sm-3(data-sticky-container)
          .sticky
            h2.mb-3 We look for local and national sustainable startups who are equally interested in business and impact!
            p.text-muted We are seeking to onboard startups having an innovative and optimal solution for one of these problem statements listed.
            .mt-auto
              img.img-fluid(src="./images/apply.png")
            .text-center
              a.btn.btn-success.mt-4.mb-5(href="https://forms.zohopublic.com/keralastartupmission/form/ProductEnquiry/formperma/dsbqduOvgl2P25CBtqFimTWw4rgCI-dZHG5I72nPu3Y" target="_blank") Apply Now
          
        .col-sm-6
          .row
            .col-sm-6
              +tile("Sustainable Tourism", "SDG 12")
                ol
                  li Innovative tourism products promoting sustainable/ responsible tourism (like Augmented Reality)
            
              +tile("Disaster Management", "SDG 13", 'type-6')
                ol
                  li ICT enabled system for assessing needs and mobilising resources
                  li Community Level Early Warning System in Landslide Prone areas of Project area
              
              +tile("Forest and Wildlife", "SDG 15", 'type-5')
                ol
                  li Mitigating Human – Animal conflict for Human - Animal eco existence
                  li Wildlife Crime Intelligence Gathering System
                  li Technology solutions in census of wildlife, flora & fauna

              +tile("Water", "SDG 6", 'type-4')
                ol
                  li Design of a low cost and low energy solutions for recycling waste water

            .col-sm-6
              +tile("Energy", "SDG 7", 'type-2')
                ol
                  li Reliable Energy Access through Affordable Decentralized Micro Hydro solutions
                  li Transportation solutions using renewable energy sources suitable to mountain landscapes
            
              +tile("Waste management", "SDG 12", 'type-7')
                ol
                  li Solutions for developing alternative materials that could be recycled or composted
                  li Innovations solutions in collection of waste, segregating waste and managing waste
                  li Supply chain innovations to track source of products using block chain technology or similar interventions
                  li Innovative solutions for small scale farmers to convert their waste into domestic energy and biofertilizer needs

              +tile("Zero Hunger", "SDG 2", 'type-3')
                ol
                  li Innovative entrepreneurship model in animal husbandry
                  li Solution for enhancing farm income for small scale farmers
                  li Better post-harvest loss management and value-added activities in a decentralized manner

              
              

  //- section.section-content#problem-statement
  //-   .container
  //-     .row.justify-content-evenly
  //-       .col-sm-3
  //-         h2.mb-5 We look for local and national sustainable startups who are equally interested in business and impact!
  //-         .mt-auto
  //-           img.img-fluid(src="./images/apply.png")

  //-       .col-sm-6
  //-         h3.mb-0 Disaster Management 
  //-         .subheading SDG 11, SDG 13
  //-         ul
  //-           li ICT enabled system for assessing needs and mobilising resources
  //-           li Community Level Early Warning System in Landslide Prone areas of Project area
  //-         h3.mb-0 Forest and Wildlife 
  //-         .subheading SDG 15
  //-         ul
  //-           li Mitigating Human – Animal conflict for Human - Animal eco existence
  //-           li Wildlife Crime Intelligence Gathering System
  //-           li Technology solutions in census of wildlife, flora and fauna
  //-         h3.mb-0 Water and Energy
  //-         .subheading SDG 12, 9, 7, 17
  //-         ul
  //-           li Design of a low cost and low energy solutions for recycling wastewater
  //-           li Reliable Energy Access through Affordable Decentralized Micro Hydro solutions
  //-         h3.mb-0 Waste management
  //-         .subheading SDG 12, SDG 9
  //-         ul
  //-           li Solutions for developing alternative materials that could be recycled or composted
  //-           li Innovations solutions in collection of waste, segregating waste and managing waste
  //-         h3.mb-0 Livelihood
  //-         .subheading SDG 8, 10
  //-         ul
  //-           li Better post-harvest loss management and value-added activities in a decentralized manner
  //-           li Supply chain innovations to track source of products using block chain technology or similar interventions
  //-           li Innovative solutions for small scale farmers to convert their waste into domestic energy and biofertilizer needs
  //-           li Innovative entrepreneurship model in animal husbandry
  //-           li Solution for enhancing farm income for small and marginal farmers
  //-         h3.mb-0 Other Solutions
  //-         .subheading SDG 7
  //-         ul
  //-           li Transportation solutions using renewable energy sources suitable to mountain landscapes
          
  //-         .subheading SDG 15, SDG 14
  //-         ul
  //-           li Innovative tourism products promoting sustainable/ responsible tourism (like Augmented Reality)

          


  //- section.section-content.alternative#apply-section
  //-   .overlay
  //-   .container.position-relative
  //-     .text-center
  //-       h2.text-white Intereseted in Green Innovation Fund?
  //-       a.btn.btn-success.mt-4(href="https://forms.zohopublic.com/keralastartupmission/form/ProductEnquiry/formperma/dsbqduOvgl2P25CBtqFimTWw4rgCI-dZHG5I72nPu3Y" target="_blank") Apply Now

  //- section.section-content
  //-   .container
  //-     h2.mb-5.text-center Focus Area
  //-     .row
  //-       .col-sm-3
  //-         .card.shadow-sm.text-center.h-100
  //-           img.card-img-top(src="./images/one.png")
  //-           .card-body.d-flex.flex-column.justify-content-around
  //-             h5 Sustainable Tourism
  //-             p Based on SGD Goal 8 and 12 
  //-       .col-sm-3
  //-         .card.shadow-sm.text-center.h-100
  //-           img.card-img-top(src="./images/two.png")
  //-           .card-body.d-flex.flex-column.justify-content-around
  //-             h5 Water and Energy
  //-             p Based on SGD Goal 8 and 12 
  //-       .col-sm-3
  //-         .card.shadow-sm.text-center.h-100
  //-           img.card-img-top(src="./images/three.png")
  //-           .card-body.d-flex.flex-column.justify-content-around
  //-             h5 Sustainable Agriculture
  //-             p Based on SGD Goal 8 and 12 
  //-       .col-sm-3
  //-         .card.shadow-sm.text-center.h-100
  //-           img.card-img-top(src="./images/four.png")
  //-           .card-body.d-flex.flex-column.justify-content-around
  //-             h5 Biodiversity and Ecosystem
  //-             p Based on SGD Goal 8 and 12 

  section.section-content#benefit-section.p-0
    .container
      h2.mb-5.text-center Why Join Green Innovation Fund?

      .grid
        .grid-item
          img(src="./images/fund.png")
          p Grant Upto 7 Lakhs
        .grid-item
          img(src="./images/mentoricon.png")
          p 1:1 mentoring
        .grid-item
          img(src="./images/hhub.png")
          p Production Validation Hub
        .grid-item
          img(src="./images/market.png")
          p Go to Market Support
        .grid-item
          img(src="./images/program.png")
          p Customised Structured Program
        .grid-item
          img(src="./images/kizhi.png")
          p Access to Impact Funds  
  

  section.section-content#timeline-section
    .container
      h2.mb-5.text-center Timeline
    ul.timeline
      li.complete
        .timestamp
          span.author &nbsp;
          span.date
            | November 8, 2020
            span
        .status
          h4 Application Open
      li.complete
        .timestamp
          span.author &nbsp;
          span.date
            | December 2, 2020
            span
        .status
          h4 Application Close
      li.complete
        .timestamp
          span.author &nbsp;
          span.date
            | December 12, 2020
            span
        .status
          h4  Preliminary Shortlist
      li.running
        .timestamp
          span.author &nbsp;
          span.date
            | February 23, 2020
            span
        .status
          h4  Final Announcement
      li
        .timestamp
          span.author &nbsp;
          span.date
            | March 2021
            span
        .status
          h4  Program Kick Off
      li
        .timestamp
          span.author &nbsp;
          span.date
            | May, 2021
            span
        .status
          h4  Demo Day

  section.section-content.alternative.ihrml
    .overlay
    .container.position-relative
      .text-center
        h2.text-white Indian High Range Mountain Landscape project
        a.btn.btn-success.mt-4(href="ihrml.pug") Read More

  section.section-content#partner-section
    .container
      .text-center
        h2.mb-4 Partners
      .d-flex.justify-content-center.flex-wrap
        img.img-fluid(src="./images/gef.png")
        img.img-fluid(src="./images/vanam.png")
        img.img-fluid(src="./images/women.png")

  //- section.section-content.pt-0#partner-section
  //-   .container
  //-     .text-center
  //-       h2.mb-4 Facilitating Partners
  //-     .d-flex.justify-content-center.flex-wrap
  //-       img.img-fluid(src="./images/dp-p.jpg")
  //-       img.img-fluid(src="./images/dp-p.jpg")
  //-       img.img-fluid(src="./images/dp-p.jpg")

block script
  script(src="./script/index.js")
  script(src="./script/youtube.js")
  script(src="./script/home.js")