extend layouts/default.pug

block page
  section.section-content
    .container
      #zf_div_9D_s63MFTe5M5X8g2JZ-9HLULoj4fs9kEMXLs8xU4-M.text-center

block script
  script(src="./script/interest.js")
