extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/problem.scss")

block page
  section.section-content#header-section
    .overlay
    .info-container
      h1 Problem Statement

  section.section-content.text-normal
    .container
      .row
        .col-sm-12
          p Are you someone trying to solve the most pressing but often ignored societal problems. Like those faced by Rural farmers, or those who are living in the fragile ecosystems facing recurring natural disasters or in conflict with wildlife.
          p This program is for you.
          p The GIF program aims at supporting startups striving to drive progress against one or more of the selected UN's Sustainable Development Goals (SDGs).
          p The SDGs broadly translate to the verticals
          ol
            li Sustainable Agriculture
            li Energy
            li Water
            li Sustainable Tourism
            li Climate Action
            li Biodiversity and Environment

      .row.pt-5
        .col-sm-4
          .card.rounded-0.border-0.shadow.sgd-2.text-white.h-100
            .card-body
              h3.text-center.m-0.p-3.f-w-800 Solution on Sustainable Agriculture
        .col-sm-4
          .card.rounded-0.border-0.shadow.sgd-6.text-white.h-100
            .card-body
              h3.text-center.m-0.p-3.f-w-800 Solution on Access to Clean Water
        .col-sm-4
          .card.rounded-0.border-0.shadow.sgd-7.text-white.h-100
            .card-body
              h3.text-center.m-0.p-3.f-w-800 Solution on Access to Reliable Energy
      .row.pt-5
        
        .col-sm-4
          .card.rounded-0.border-0.shadow.sgd-13.text-white.h-100
            .card-body
              h3.text-center.m-0.p-3.f-w-800 Solution on Climate Change and Disaster Management
        .col-sm-4
          .card.rounded-0.border-0.shadow.sgd-2.text-white.h-100
            .card-body
              h3.text-center.m-0.p-3.f-w-800 Solution on sustainable Tourism & Waste Management
        .col-sm-4
          .card.rounded-0.border-0.shadow.sgd-15.text-white.h-100
            .card-body
              h3.text-center.m-0.p-3.f-w-800 Solution on Biodiversity and Human Animal Conflict
        

      