<!DOCTYPE html>
html(lang="en")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-LZP09FWNYH')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-LZP09FWNYH');
      
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // Primary Meta Tags
    title Green Innovation Fund | Kerala Startup Mission | UNDP | Haritha Kerala Mission
    meta(name='title' content='Green Innovation Fund | Kerala Startup Mission | UNDP | Haritha Kerala Mission')
    meta(name='description' content="Fund linked Accelerator Program to support Social Impact startups and innovators developing scalable enterprsies based on UN's Sustainable Development Goal, like Climate Change and Green Economy Domain.")
    // Open Graph / Facebook
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://startupmission.in/gif/')
    meta(property='og:title' content='Green Innovation Fund | Kerala Startup Mission | UNDP | Haritha Kerala Mission')
    meta(property='og:description' content="Fund linked Accelerator Program to support Social Impact startups and innovators developing scalable enterprsies based on UN's Sustainable Development Goal, like Climate Change and Green Economy Domain.")
    meta(property='og:image' content='https://startupmission.in/gif/fb.png')
    // Twitter
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content='https://startupmission.in/gif/')
    meta(property='twitter:title' content='Green Innovation Fund | Kerala Startup Mission | UNDP | Haritha Kerala Mission')
    meta(property='twitter:description' content="Fund linked Accelerator Program to support Social Impact startups and innovators developing scalable enterprsies based on UN's Sustainable Development Goal, like Climate Change and Green Economy Domain.")
    meta(property='twitter:image' content='https://startupmission.in/gif/fb.png')

    link(rel='apple-touch-icon' sizes='57x57' href='./fav/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='./fav/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='./fav/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='./fav/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='./fav/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='./fav/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='./fav/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='./fav/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='./fav/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='./fav/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./fav/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='./fav/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./fav/favicon-16x16.png')
    link(rel='manifest' href='./manifest.webmanifest')
    meta(name='msapplication-TileColor' content='#2a0845')
    meta(name='msapplication-TileImage' content='./fav/ms-icon-144x144.png')
    meta(name='theme-color' content='#2a0845')

    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='Green Innovation Fund | Kerala Startup Mission')
    link(rel='apple-touch-icon' href='./fav/apple-icon-152x152.png')

    link(rel="stylesheet", href="./style/main.scss")
    link(rel="stylesheet", href="./style/navbar.scss")
    block head
    
  body
    include partials/aside.pug
    block page

    footer
      #ksum-footer
        .left
          img.img-fluid(src="./images/logo-white.svg")
          p G3B, Thejaswini, Technopark Campus
          p Kariyavattom, Trivandrum, Kerala 695581
          .phone
            svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z')
            | 08047180470
          p ( Timings: 08.00 am to 08.00 pm )

        .right
          h4 Contact 
          p To get more information on the project contact: dhanaj@startupmission.in


      #ksum-copy
        | Copyright © 2020 Kerala Startup Mission. All Rights Reserved.
    
    block script